h1 {
  color: blue;
  text-align: center;
  font-style: italic;
  font-family: serif;
  font-weight: 1000;
}
h2 {
  text-align: justify;
  font-style: oblique;
}
body {
  background-color: rgb(84,153,199,0.5);
}
.edu {
  border-style: solid;
  background-color:rgba(180,180,180,0.5)
}
.job {
  border-style: solid;
}
.why {
  border-style: solid;
}
.int {
  border-style: solid;
}
.hob {
  border-style: solid;
}
.skill {
  border-style: solid;
}
