h1 {
  color: blue;
  text-align: center;
  font-style: italic;
  font-family: serif;
  font-weight: 1000;
}
h2 {
  text-align: justify;
  font-style: oblique;
}
.edu {
  border-style: solid;
}
.job {
  border-style: solid;
}
.why {
  border-style: solid;
}
.int {
  border-style: solid;
}
.hob {
  border-style: solid;
}
.skill {
  border-style: solid;
}
.riz {
  background-color: powderblue;
}
#join {
  font-family: fantasy;
}
